<mat-card class="project-card">

  @if (project().image) {
    <div class="card-image">
      <img [src]="project().image" [alt]="project().name | translate" />
    </div>
  }
  <mat-card-header>
        <mat-card-title>
      {{ project().name | translate }}
    </mat-card-title>
    <p class="project-type">
      {{ project().type | translate }}
    </p>


  </mat-card-header>

  <mat-card-content>
    <p>
      {{ project().desc | translate }}
    </p>

    <mat-chip-set>
      @for (tech of project().techs; track tech) {
        <mat-chip>{{ tech }}</mat-chip>
      }
    </mat-chip-set>
  </mat-card-content>

  <mat-card-actions>
    @if (project().urlDemo) {
      <a mat-button [href]="project().urlDemo" target="_blank">
        {{ 'card.buttons.demo' | translate }}
      </a>
    }
    @if (project().urlCode) {
      <a mat-button [href]="project().urlCode" target="_blank">
        {{ 'card.buttons.code' | translate }}
      </a>
    }
  </mat-card-actions>

</mat-card>