footer {
  background-color: var(--mat-sys-surface-container);
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid var(--mat-sys-outline-variant);

  p {
    font-size: 13px;
    color: var(--mat-sys-on-surface-variant);
    margin: 0;
  }
}