mat-toolbar {
    position: sticky;
  top: 0;
  z-index: 100;
background-color: var(--mat-sys-surface-container) !important;
  display: flex;
  align-items: center;
  gap: 8px;

  .nav-menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 4px;

    button.active {
      color: var(--mat-sys-primary)!important;
      font-weight: 600;
    }
  }
}