<div class="contact-wrapper">

  <section class="contact-hero">
    <p class="section-label">{{ 'contact.sectionLabel' | translate }}</p>
    <h1>{{ 'contact.title' | translate }}</h1>
    <p class="contact-desc">{{ 'contact.description' | translate }}</p>
  </section>

  <div class="contact-layout">

 <div class="contact-info">
  <p class="section-label">{{ 'contact.findMe' | translate }}</p>
  <app-social-links />
</div>

    <mat-card class="contact-form-card">
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="send()">

          <mat-form-field appearance="outline">
            <mat-label>{{ 'contact.form.name.label' | translate }}</mat-label>
            <input matInput formControlName="name" />
            @if (form.get('name')?.invalid && form.get('name')?.touched) {
              <mat-error>{{ 'contact.form.name.error' | translate }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'contact.form.email.label' | translate }}</mat-label>
            <input matInput formControlName="email" type="email" />
            @if (form.get('email')?.invalid && form.get('email')?.touched) {
              <mat-error>{{ 'contact.form.email.error' | translate }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'contact.form.subject.label' | translate }}</mat-label>
            <input matInput formControlName="subject" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'contact.form.message.label' | translate }}</mat-label>
            <textarea matInput formControlName="message" rows="5"></textarea>
            @if (form.get('message')?.invalid && form.get('message')?.touched) {
              <mat-error>{{ 'contact.form.message.error' | translate }}</mat-error>
            }
          </mat-form-field>

          <button mat-flat-button type="submit" [disabled]="form.invalid || sending()">
            {{ sending()  ? ('contact.form.submit.sending' | translate)  : ('contact.form.submit.default' | translate)
}}

          </button>

          @if (sent()) {
            <p class="success-msg">{{ 'contact.form.success' | translate }}</p>
          }

        </form>
      </mat-card-content>
    </mat-card>

  </div>
</div>