<!-- HERO -->
<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <p class="hero-tag">{{ 'home.hero.tag' | translate }}</p>
      <h1 class="hero-name">{{ 'home.hero.title' | translate }}</h1>
      <p class="hero-title">{{ 'home.hero.subtitle' | translate }}</p>
      <p class="hero-desc">{{ 'home.hero.desc' | translate }}</p>
      <div class="hero-btns">
       <div class="hero-btns">
  <a mat-flat-button routerLink="/projects">
    {{ 'home.hero.buttons.viewProjects' | translate }}
  </a>
  <a mat-stroked-button routerLink="/contact">
    {{ 'home.hero.buttons.contact' | translate }}
  </a>
</div>
      </div>
    </div>
    <div class="hero-photo">
      <img src="assets/img/yo.jpg" alt="Tu nombre" />
    </div>
  </div>
</section>

<!-- SKILLS -->
<section class="section">
  <p class="section-label">{{ 'home.skills' | translate }}</p>
  <app-skill-list [skills]="skills()" />
</section>

<!-- PROYECTOS DESTACADOS -->
<section class="section projects-section">
  <p class="section-label">{{ 'home.featuredProjects' | translate }}</p>
  <div class="projects-grid">
  @for (project of projects(); track project.name) {
  <app-project-card [project]="project" />
}
  </div>
</section>