@use '@angular/material' as mat;

html, body {
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

body.dark-theme {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
    ),
  ));
}